<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <span id="page-title" class="navbar-brand">Remote Pi Cams</span>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="cameras-nav" href="#" data-toggle="collapse" data-target="#myNavbar">
                            <span class="glyphicon glyphicon-facetime-video"></span> Cameras
                        </a>
                    </li>
                    <li>
                        <a id="settings-nav" href="#" data-toggle="collapse" data-target="#myNavbar">
                            <span class="glyphicon glyphicon-cog"></span> Settings
                        </a>
                    </li>
                    <li>
                        <a id="profile-nav" href="#" data-toggle="collapse" data-target="#myNavbar">
                            <span class="glyphicon glyphicon-user"></span> Profile
                        </a>
                    </li>
                    <li>
                        <a id="logout" href="#" data-toggle="collapse" data-target="#myNavbar">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="profile-page" class="container-fluid page">
        <div class="row">
            Profile stuff
        </div>
    </div>

    <div id="settings-page" class="container-fluid page">
        <div class="row">
            Settings stuff
        </div>
    </div>

    <div id="cameras-page" class="container-fluid page">
        <div class="row">
            <div id="cameras" class="col-xs-12"></div>
        </div>
    </div>

</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/controller.js"></script>

</html>