#camera-list .row {
	margin: 10px;
}

#camera-list .name {
	text-transform: uppercase;
	font-style: italic;
	font-size: larger;
	font-weight: bold;
}

.alarm img {
	width: 160px;
}

.status {
	margin: 5px;
}

.capture {
	margin: 5px;
}


/* Toolbar */

#toolbar {
	background: #444;
	padding: 5px;
}

#profile-div {
	display: none;
}

#page-title {
	color: white;
	text-transform: capitalize;
}

.page {
	display: none;
}